#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.table--showColors tr:nth-child(odd) {
  background: #555;
}

.table--showColors tr:nth-child(even) {
  background: #333;
}

/* --- Otra forma del CSS ---
.table--showColors tr:nth-child(2n) {
  background: #555;
}
.table--showColors tr:nth-child(2n+1) {
  background: #333;
}
*/

header {
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;

}

.pointer {
  cursor: pointer;
}