.footer {
    position: fixed;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    padding: 8px 24px;
    border-radius: 10px 30px 30px 10px;
    opacity: .95;
    backdrop-filter: blur(8px);
}

.footer span {
    font-size: 14px;
    color: #09f;
    opacity: .8;
}

.footer h4,
.footer p {

    margin: 2px;
    display: flex;
}

.footer p {
    color: rgb(116, 116, 116);
    font-size: 10pt;
}